ASPNETCORE_ENVIRONMENT=Development

# Used by the app as ConnectionStrings:DefaultConnection
ConnectionStrings__DefaultConnection=Server=db;Port=5432;Database=SmartEmployeeDB;Username=postgres;Password=CHANGE_ME;Include Error Detail=true;

POSTGRES_DB=SmartEmployeeDB
POSTGRES_USER=postgres
POSTGRES_PASSWORD=CHANGE_ME

